#modal {
    .gray-back {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .7);
        z-index: 1000;
    }
    .modal-inner {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #FFF;
        z-index: 1000;
        width: 40rem;
        border: 6px solid rgba($color: rgb(76, 115, 193), $alpha: 0.7);
        border-radius: 10px;
        padding-bottom: 4rem;
        .input {
            margin: 2rem;
            display: flex;
            justify-content: space-between;
            font-size: 1.4rem;
            input,
            select {
                height: 2.2rem;
                border: 1px solid rgba(0, 0, 0, .3);
                border-radius: 0.2rem;
                text-indent: 0.5rem;
                &:focus {
                    border: 1px solid rgba(0, 0, 0, .3);
                    border-radius: 0.2rem;
                }
            }
        }
        .title {
            text-align: center;
            font-size: 1.5rem;
            border-bottom: 6px solid rgba($color: rgb(76, 115, 193), $alpha: 0.7);
            padding: 5px;
        }
        .icon-close {
            position: absolute;
            right: 5px;
            top: -3px;
            font-size: 2.5rem;
            opacity: 0.5;
            cursor: pointer;
        }
        .icon-ok {
            position: absolute;
            right: 10px;
            bottom: 10px;
            font-size: 1.5rem;
            text-transform: lowercase;
            cursor: pointer;
            border: 1px solid black;
            border-radius: 10px;
            padding: 3px 40px;
            transition-duration: .3s;
            &:hover {
                background: rgb(160, 158, 158);
                color: white;
            }
        }
    }
}