*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html {
    font-size: 10px;
}

a {
    text-decoration: none;
    color: white;
}

// custom styles

#root {
    height: 100vh;
    min-height: 40rem;
    background: linear-gradient(to bottom, #223457 20%, #EFF3F6 20% 80%);
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

#root>.container {
    width: 80%;
    height: 80%;
    margin: 0 auto;
}