.menu {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    height: 6rem;
    margin-top: 2rem;
    color: #c9c3c3;
    .logo {
        text-align: center;
        width: 10%;
    }
    .menu-container {
        width: 80%;
        display: flex;
        align-items: center;
        .menu-list {
            font-size: 1.5rem;
            display: flex;
            justify-content: start;
            .menu-item {
                text-decoration: none;
                list-style: none;
                margin-right: 3rem;
                cursor: pointer;
                transition-duration: .3s;
                &:hover {
                    text-decoration: underline;
                    color: white;
                }
            }
        }
    }
    .avatar {
        text-align: center;
        width: 10%;
    }
    img {
        height: 100%;
    }
}