.groups {
    background: #FFFFFF;
    height: 100%;
    border-radius: 1rem;
    overflow-y: auto;
    header {
        height: 8rem;
        padding: 2rem 6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgb(219, 220, 221);
        .title {
            display: flex;
            justify-content: space-between;
            font-size: 1.5rem;
            &>div {
                display: flex;
                align-items: center;
                font-size: 1.2rem;
                color: #bdbaba;
                margin-left: 1.5rem;
            }
        }
        .btn-add-group {
            padding: 1rem 2rem;
            background: #007BFF;
            border: 1px solid #007BFF;
            color: white;
            border-radius: 0.5rem;
            transition-duration: .3s;
            cursor: pointer;
            &:hover {
                background: #48a1ff;
            }
        }
    }
    .fields-information {
        height: 1rem;
        background-color: #F5F8FA;
        color: #bdbaba;
        font-weight: bold;
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgb(219, 220, 221);
        padding: 2rem 3rem;
        font-size: 1.3rem;
        .title {
            width: 70%;
        }
        .moves, .links {
            width: 15%;
        }
    }
    .group-item {
        height: 7rem;
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgb(219, 220, 221);
        padding: 3rem;
        font-size: 1.3rem;
        .title {
            width: 70%;
        }
        .moves, .links {
            width: 15%;
        }
        .links a {
            color: black;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}