.links-page {
    background: #FFFFFF;
    height: 100%;
    border-radius: 1rem;
    overflow-y: auto;
    header {
        height: 8rem;
        padding: 2rem 6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgb(219, 220, 221);
        .title {
            display: flex;
            justify-content: space-between;
            font-size: 1.5rem;
            &>div {
                display: flex;
                align-items: center;
                font-size: 1.2rem;
                color: #bdbaba;
                margin-left: 1.5rem;
            }
        }
        .btn-add-link {
            padding: 1rem 2rem;
            background: #007BFF;
            border: 1px solid #007BFF;
            color: white;
            border-radius: 0.5rem;
            transition-duration: .3s;
            cursor: pointer;
            &:hover {
                background: #48a1ff;
            }
            &.disabled {
                opacity: 0.3;
            }
        }
    }
    .fields-information {
        height: 1rem;
        background-color: #F5F8FA;
        color: #bdbaba;
        font-weight: bold;
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgb(219, 220, 221);
        padding: 2rem 3rem;
        font-size: 1.3rem;
        .title {
            width: 30%;
        }
        .full-link,
        .short-link {
            width: 20%;
        }
        .status,
        .moves,
        .links {
            width: 10%;
        }
    }
    .link-item {
        height: 7rem;
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgb(219, 220, 221);
        padding: 3rem;
        font-size: 1.3rem;
        .title {
            width: 30%;
        }
        .full-link,
        .short-link {
            width: 20%;
            overflow-x: hidden;
            max-width: 18%;
            margin-right: 2%;
            a {
                color: #000000;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .status,
        .moves,
        .links {
            width: 10%;
        }
        .circle {
            width: 1rem;
            height: 1rem;
            border-radius: 100rem;
            background: red;
            &.active {
                background: greenyellow;
            }
        }
    }
}

.gray {
    color: #bdbaba;
}